<% layout("/layouts/boilerplates") %>
<script type="">
  let token="<%=process.env.MAP_TOKEN%>"
  let listing =<%- JSON.stringify(listing) %>
  </script>
<div class="row">
<body>
  <!-- <div class="col-8 offset-3 mt-3">
    <h3><%=listing.title%></h3>
    </div> -->
  <div class="card col-6 offset-3 listing-card">
    <h4><%=listing.title%></h4>
    <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="...">
    <div class="card-body ">
      <p class="card-text"><b>owned by <i><%=listing.owner.username%></i></b></p>
      <p class="card-text"><%=listing.description%></p>
      <p class="card-text">&#8377; <%=listing.price.toLocaleString("en-in")%></p>
      <p class="card-text"><%=listing.location%></p>
      <p class="card-text"><%=listing.country%></p>
      </div>
    </div>
   
    <div class="row btn-row">
      <div class="col-1 offset-3 btn-edit">
      <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark btn-add">Edit</a>
    </div>
    <div class="col-1 ms-4 btn-delete">
   <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
    <button class="btn btn-dark">delete</button>
   </form>
  </div>
  </div>
  <div class="col-6 offset-3 review">
    <hr>
    <%if(user){%>
    <h3>Leave a Review</h3>
  <form action="/listings/<%=listing._id%>/reviews" method="post" novalidate class="needs-validation">
  <fieldset class="starability-slot">
    <legend>First rating:</legend>
    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
    <input type="radio" id="first-rate1" name="rating" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="rating" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="rating" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="rating" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="rating" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>
  <div class="mb-3">
    <label for="commets" class="form-label">Comments</label>
    <textarea id="" cols="30" rows="5" class="form-control" name="comment" required></textarea>
    <div class="invalid-feedback">
    Please add some comments for review
    </div>
  </div>
    <button class="btn btn-outline-dark mb-3">Submit</button>
  </form>
<%}%>
  
<%if(listing.reviews.length>0){%>
<div class="row">
  <p><b>All Reviews</b></p>
<% for(let review of listing.reviews){%>
  <div class="card col-5 ms-3 mb-3">
   <div class="card-body mb-3">
    <h4 class="card-title">@<%=review.author.username%></h4>
    <p class="starability-result" data-rating="<%=review.rating%>"> <%=review.rating%></p>
    <p class="card-text"><%=review.comment%></p>
  </div>
  <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" class="mb-3" method="post">
    <button class="btn btn-dark">Delete</button>
  </form>
   </div>
 <% }%>
</div>
<% }%>
</div>
<div class="col-6 offset-3 mb-3 map-area"><b> Where you’ll be</b>
  <div id="map"></div>
</div>
<script src="/js/map.js"></script>
</body>
</div>




